 body {
      margin: 0;
      height: 118.5vh;
      background: linear-gradient(to bottom right, #007bff, #ffffff);
      padding: 35px;
      font-family: federoka;
      color: #003366;
      font-size: 2rem;
       }
	   
h2    {
	text-decoration: underline;
	color: solid black;
      }
	  
	  
.submitbutton {
	 background: linear-gradient(to bottom right, #007bff, #ffffff);
     color: solid black;
     border: none;
     padding: 15px 30px;
     font-size: 18px;
     border-radius: 30px;
     cursor: pointer;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
     transition: all 0.3s ease;
              }
			  
.submitbutton:hover {
      transform: scale(1.05);
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
                 }